* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: black;
    border-bottom: 1px solid #333;
}

.navbar {
    grid-template-columns:1fr 0.61fr 1fr;
    display: grid;
    width: 1400px;
    height: 100px;
    border: 2px groove #282828;
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}

.logo{
    grid-column: 1;
    width: 200px;
    height: 100px;
    border-right: 2px groove #282828;
    text-align: center;
}

.logo img {
    margin: 30px;
}

.navbar2 {
     grid-column: 2;
     display: grid;
     grid-template-rows: 1fr 1fr;
     width: 1200px;
     height: 100px;
}

.navbar-row1 {
    grid-column: 2;
    grid-template-columns: 1fr 1fr;
    display: inline-grid;
    height: 50px;
    width: 1200px;
    text-align: center;
    align-items: center;
    border-bottom: 2px groove #282828;
    justify-items: center;
}


.logo img {
    width: 40px;
}

nav {
    display: block;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style-type: none;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font: 1em sans-serif;
}

.nav-links2 {
    color: #fff;
    display: grid;
    width: 300px;
    align-items: center;
    height: 50px;
    border-left: 2px groove #282828;
}
  
.nav-buttons {
    display: flex;
    align-items: center;
    grid-column: 2;
    height: 50px;
    width: 1200px;
    justify-items: center;
    align-items: center;
}

.signup {
    align-items: center;
    justify-items: center;
    justify-content: center;
    display: flex;
    width: 600px;
    height: 49px;
    border-right: 2px groove #282828;
}

.login {
    align-items: center;
    justify-items: center;
    justify-content: center;
    display: flex;
    width: 600px;
    height: 50px;
}

.signup1, .login1 {
    color: white;
    transition: background-color 0.3s, color 0.3s;
    padding: 10px 15px;
    text-decoration: none;
}

.signup1:hover, .login1:hover {
    background-color: transparent;
    color: black;
}

.container-about-us {
    width: 100%;
    position: relative;

}

.container {
    text-align: center;
    display: grid;
}

.container h1 {
    font-size: 85px;
    margin-bottom: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    margin: 0 300px;
    width: 1000px;
    height: 500px;
}

.image-bar {
    width: 10%; 
    height: 100%;
    background: url(Image1.png) ;  
    background-size: 1000% 100%;
    transition: all 0.3s ease;
    border-radius: 50px;
    overflow: hidden;
    margin: 0 5px;
    visibility: visible !important;
    opacity: 1.0 !important;
    display: block !important;
}

.image-bar:nth-child(1) { background-position: 0 0; }
.image-bar:nth-child(2) { background-position: 900% 0; }
.image-bar:nth-child(3) { background-position: 800% 0; }
.image-bar:nth-child(4) { background-position: 700% 0; }
.image-bar:nth-child(5) { background-position: 600% 0; }
.image-bar:nth-child(6) { background-position: 500% 0; }
.image-bar:nth-child(7) { background-position: 400% 0; }
.image-bar:nth-child(8) { background-position: 300% 0; }
.image-bar:nth-child(9) { background-position: 200% 0; }
.image-bar:nth-child(10) { background-position: 100% 0; }

.image-bar:hover {
    transform: scale(1.05);
    opacity: 1;
}


.about-us {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    font-size: 32px;
    margin-bottom: 10px;
}

.about-us p {
    font-size: 16px;
    line-height: 1.5;
}

.about {
    background-color: #000;
    color: #fff;
    padding: 50px 20px;
    text-align: center;
    position: relative;
    margin: 180px;
    margin-top: 50px;
    margin-bottom: 25px;
    display: flex;
}

.about-container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 0;
}

.about-image{
    width: 560px;
    height: 420px;
    border: 2px groove #282828;
    border-radius: 15px;
}

.about-image img {
    width: 560px;
    height: 627px;
    height: auto;
    border-radius: 10px;
}

.about-text {
    padding: 20px;
    margin: 50px;
    width: 664px;
    height: 429px;
    font-family: 1em sans-serif;
}


.about-image h2 {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 1em sans-serif;
}

.about-text p {
    font-size: 25px;
    margin-bottom: 20px;
    font-family: 1em sans-serif;
    font-style: normal;
}

.about-text .btn {
    padding: 10px 100px;
    background-color: transparent;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    border: 2px groove #282828;
    width: 600px;
    height: 50px;
}

.about-text .btn:hover {
    background-color: #333;
    color: #fff;
}

.aim {
    background-color: #000;
    color: #fff;
    padding: 50px 20px;
    font: 1em sans-serif;
    display: flex;
    position: relative;
    text-align: center;
    margin: 180px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.aim-container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.aim-text {
    padding: 20px;
    width: 600px;
    height: 400px;
}

.aim-image {
    width: 560px;
    height: 450px;
    margin-left: 30px;
    border: 2px groove #282828;
    border-radius: 15px;
    text-align: center;
    justify-items: center;
}

.aim-image img {
    width: 550px;
    height: 400px;
    border-radius: 15px;
    border-bottom: 2px groove #282828;
}

.aim-image-text {
    font: 1em sans-serif;
    font-size: 30px;
    text-align: center;
}

.aim-text p {
    font-size: 24px;
    margin-bottom: 20px;
}

.aim-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.image-container1 {
    background: url('page\ 3.jfif') no-repeat center center/cover;
    width: 1280px;
    height: 544px;
    margin: 120px ;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    color: white;
    border-radius: 20px;
}

.overlay-content {
    background: rgba(0, 0, 0, 0.6); 
    padding: 20px;
    border-radius: 10px;
}

.overlay-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.overlay-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #333;
    color: #fff;
}

.footer {
    grid-template-columns:1fr 0.61fr 1fr;
    display: grid;
    width: 1280px;
    height: 150px;
    border: 2px groove #282828;
    border-radius: 30px;;
    margin-left: 120px;
    margin-right: 120px;
    position: relative;
}

.footer-composer {
    grid-column: 1;
    width: 180px;
    height: 150px;
    border-right: 2px groove #282828;
    text-align: center;
}

.footer-composer h1 {
    margin: 50px;
    font: 1em sans-serif;
    font-size: 16px;
}

.footer2 {
     grid-column: 2;
     display: grid;
     grid-template-rows: 1fr 1fr;
     width: 1100px;
     height: 150px;
}

.footer-row1 {
    grid-column: 2;
    grid-template-columns: 1fr 1fr;
    display: inline-grid;
    height: 75px;
    width: 1100px;
    text-align: center;
    align-items: center;
    border-bottom: 2px groove #282828;
    justify-items: center;
}

nav {
    display: block;
    align-items: center;
}

.footer-links {
    display: flex;
    list-style-type: none;
}

.footer-links li {
    margin: 0 20px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-style: 1em sans-serif;
}

.footer-email {
    color: #fff;
    display: grid;
    width: 550px;
    align-items: center;
    height: 75px;
    border-left: 2px groove #282828;
}

.footer-row2 {
    display: flex;
    align-items: center;
    grid-column: 2;
    height: 75px;
    width: 1100px;
    justify-items: center;
    align-items: center;
    color: #fff;
}

.footer-services {
    color: white;
    margin: 150px;
    padding: 10px 15px;
    align-items: center;
    text-align: center;
    justify-items: center;
    font-size: 20px;
}

.social-icons {
    color: #fff;
    padding: 10px 15px;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 75px;
    border-right: 2px groove #282828;
    border-left: 2px groove #282828;
    display: flex;
}

.footer-copyright {
    color: white;
    margin: 75px;
    padding: 10px 15px;
    align-items: center;
}

.footer-email1, .services, .social-icons1, .social-icons2, .social-icons3, .social-icons4{
    font: 1em sans-serif;
    color: #fff;
    font-style: none;
    text-decoration: none;
}

.social-icons1, .social-icons2, .social-icons3, .social-icons4 {
    margin: 4px;
    font-size: 25px;
}

@media (max-width: 1536px){
    header {
        width: 104%;
    }
    .navbar {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (max-width: 1280px){
    header{
        width: 100%;
    }
    .navbar {
        width: 1150px;
        height: 100px;
    }
    .logo {
        width: 200px;
        height: 100px;
    }
    .navbar2 {
        width: 950px;
        height: 100px;
    }
    .navbar-row1 {
        height: 50px;
        width: 949px;
    }
    .nav-links2 {
        width: 150px;
    }
    .nav-buttons {
        height: 50px;
        width: 950px;
    }
    .signup {
        width: 475px;
        height: 49px;
    }
    .login {
        width: 475px;
        height: 50px;
    }
    .image-container {
        margin: 140px;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 1000px;
        height: 500px;
    }
    .about {
        margin: 110px;
        margin-top: 50px;
        margin-bottom: 25px;
    }
    .about-container {
        max-width: 1100px;
    }
    .about-image {
        width: 540px;
        height: 400px;
    }
    .about-image img {
        width: 540px;
    }
    .about-text p {
        font-size: 23px;
    }
    .aim {
        margin: 110px;
        margin-top: 25px;
        margin-bottom: 50px;
    }
    .aim-container{
        max-width: 1100px;
        margin-left: 20px;
    }
    .aim-text {
        width: 500px;
    }
    .aim-image {
        width: 540px;
        height: 430px;
        margin-left: 10px;
    }
    .aim-image img {
        width: 529px;
        height: 380px;
    }
    .aim-text p {
        font-size: 20px;
    }
    .image-container1 {
        width: 1100px;
        height: 544px;
        margin: 100px ;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .footer {
        width: 1100px;
        height: 150px;
        margin-left: 95px;
        margin-right: 95px;
    }
    .footer-composer {
        width: 150px;
        height: 150px;
    }
    .footer-composer h1 {
        margin: 55px;
    }
    .footer2 {
        width: 950px;
    }
    .footer-row1 {
        width: 948px;
    }
    .footer-email {
        width: 350px;
    }
    .footer-row2 {
        width: 950px;
    }
    .footer-services {
        margin: 100px;
    }
    .social-icons {
        width: 340px;
    }
}

@media (max-width: 1024px){
    header {
        width: 100%;
    }
    .navbar {
        width: 900px;
        height: 100px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .logo {
        width: 150px;
        height: 100px;
    }
    .navbar2 {
        width: 750px;
        height: 100px;
    }
    .navbar-row1 {
        height: 50px;
        width: 749px;
    }
    .nav-links2 {
        width: 125px;
    }
    .nav-buttons {
        height: 50px;
        width: 750px;
    }
    .signup {
        width: 375px;
        height: 49px;
    }
    .login {
        width: 375px;
        height: 50px;
    }
    
    .image-container {
        margin: 110px;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 800px;
        height: 500px;
    }
    .about {
        margin: 25px;
        margin-top: 25px;
        margin-bottom: 0px;
    }
    .about-container {
        max-width: 1000px;
    }
    .about-image {
        width:450px;
        height: 350px;
        margin-bottom: 40px;
    }
    .about-image img {
        width: 450px;
    }
    .about-text p {
        font-size: 18px;
    }
    .aim {
        margin: 35px;
        margin-top: 0px;
        margin-bottom: 25px;
    }
    .aim-container{
        max-width: 1000px;
        margin-left: 20px;
    }
    .aim-text {
        width: 350px;
    }
    .aim-image {
        width: 450px;
        height: 350px;
        margin-left: 50px;
    }
    .aim-image img {
        width: 445px;
        height: 300px;
    }
    .aim-text p {
        font-size: 17px;
    }
    .image-container1 {
        width: 900px;
        height: 544px;
        margin: 45px ;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .footer {
        width: 900px;
        height: 150px;
        margin-left: 45px;
        margin-right: 45px;
    }
    .footer-composer {
        width: 150px;
        height: 150px;
    }
    .footer-composer h1 {
        margin: 55px;
    }
    .footer2 {
        width: 750px;
    }
    .footer-row1 {
        width: 748px;
    }
    .footer-email {
        width: 200px;
    }
    .footer-row2 {
        width: 750px;
    }
    .footer-services {
        margin: 40px;
    }
    .social-icons {
        width: 300px;
    }
}

@media (max-width: 768px){
    header{
        width: 100%;
    }
    .navbar {
        width: 600px;
        height: 100px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .logo {
        width: 100px;
        height: 100px;
    }
    .navbar2 {
        width: 500px;
        height: 100px;
    }
    .navbar-row1 {
        height: 50px;
        width: 499px;
    }
    .nav-links {
        width: 400px;
        height: 50px;
        display: flex;
        justify-items: center;
        justify-items: center;
        align-items: center;
    }
    .nav-links a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        font: 1em sans-serif;
        font-size: 15px;
    }
    .nav-links2 {
        width: 200px;
    }
    .nav-buttons {
        height: 50px;
        width: 500px;
    }
    .signup {
        width: 250px;
        height: 49px;
    }
    .login {
        width: 250px;
        height: 50px;
    }
    .image-container {
        margin: 80px;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 600px;
        height: 400px;
    }
    .about {
        margin: 40px;
        margin-top: 25px;
        margin-bottom: 0px;
    }
    .about-container {
        max-width: 700px;
    }
    .about-image {
        width: 350px;
        height: 280px;
    }
    .about-image img {
        width: 350px;
    }
    .about-text {
        padding: 20px;
        margin-left: 20px;
        width: 300px;
        height: 280px;
        margin-bottom: auto;
        margin-top: 0px;
    }
    .about-text .btn {
        width: 200px;
        display: inline-table;
        padding: 10px;
        text-align: center;
        justify-items: center;
    }
    .about-text p {
        font-size: 12px;
    }
    .aim {
        margin: 40px;
        margin-top: 0px;
        margin-bottom: 25px;
    }
    .aim-container{
        max-width: 700px;
        margin-left: 20px;
    }
    .aim-text {
        width: 300px;
        height: 280px;
    }
    .aim-image {
        width: 300px;
        height: 280px;
        margin-left: 10px;
    }
    .aim-image img {
        width: 298px;
        height: 230px;
    }
    .aim-text p {
        font-size: 12px;
    }
    .image-container1 {
        width: 600px;
        height: 400px;
        margin: 70px ;
        margin-top: 0px;
        margin-bottom: 25px;
    }
    .footer {
        width: 600px;
        height: 125px;
        margin-left: 70px;
        margin-right: 70px;
    }
    .footer-composer {
        width: 125px;
        height: 125px;
    }
    .footer-composer h1 {
        margin: 40px;
    }
    .footer2 {
        width: 475px;
    }
    .footer-row1 {
        width: 475px;
        height: 62.5px;
        font-size: 12px;
    }
    .footer-email {
        width: 200px;
        height: 60px;
    }
    .footer-row2 {
        width: 475px;
        height: 30px;
        font-size: 12px;
    }
    .footer-services {
        margin: 20px;
    }
    .social-icons {
        width: 180px;
        height: 62.5px;
    }
    .footer-copyright {
        margin: 0px;
    }
}

@media (max-width: 640px){
    header{
        width: 100%;
    }
    .navbar {
        width: 600px;
        height: 100px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .logo {
        width: 100px;
        height: 100px;
    }
    .navbar2 {
        width: 500px;
        height: 100px;
    }
    .navbar-row1 {
        height: 50px;
        width: 499px;
    }
    .nav-links {
        width: 400px;
        height: 50px;
        display: flex;
        justify-items: center;
        justify-items: center;
        align-items: center;
    }
    .nav-links a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        font: 1em sans-serif;
        font-size: 15px;
    }
    .nav-links2 {
        width: 200px;
    }
    .nav-buttons {
        height: 50px;
        width: 500px;
    }
    .signup {
        width: 250px;
        height: 49px;
    }
    .login {
        width: 250px;
        height: 50px;
    }
    .image-container {
        margin: 80px;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 600px;
        height: 400px;
    }
    .about {
        margin: 40px;
        margin-top: 25px;
        margin-bottom: 0px;
    }
    .about-container {
        max-width: 700px;
    }
    .about-image {
        width: 350px;
        height: 280px;
    }
    .about-image img {
        width: 350px;
    }
    .about-text {
        padding: 20px;
        margin-left: 20px;
        width: 300px;
        height: 280px;
        margin-bottom: auto;
        margin-top: 0px;
    }
    .about-text .btn {
        width: 200px;
        display: inline-table;
        padding: 10px;
        text-align: center;
        justify-items: center;
    }
    .about-text p {
        font-size: 12px;
    }
    .aim {
        margin: 40px;
        margin-top: 0px;
        margin-bottom: 25px;
    }
    .aim-container{
        max-width: 700px;
        margin-left: 20px;
    }
    .aim-text {
        width: 300px;
        height: 280px;
    }
    .aim-image {
        width: 300px;
        height: 280px;
        margin-left: 10px;
    }
    .aim-image img {
        width: 298px;
        height: 230px;
    }
    .aim-text p {
        font-size: 12px;
    }
    .image-container1 {
        width: 600px;
        height: 400px;
        margin: 70px ;
        margin-top: 0px;
        margin-bottom: 25px;
    }
    .footer {
        width: 600px;
        height: 125px;
        margin-left: 70px;
        margin-right: 70px;
    }
    .footer-composer {
        width: 125px;
        height: 125px;
    }
    .footer-composer h1 {
        margin: 40px;
    }
    .footer2 {
        width: 475px;
    }
    .footer-row1 {
        width: 475px;
        height: 62.5px;
        font-size: 12px;
    }
    .footer-email {
        width: 200px;
        height: 60px;
    }
    .footer-row2 {
        width: 475px;
        height: 30px;
        font-size: 12px;
    }
    .footer-services {
        margin: 20px;
    }
    .social-icons {
        width: 180px;
        height: 62.5px;
    }
    .footer-copyright {
        margin: 0px;
    }
}

@media (max-width: 475px){
    
}